html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
body {
  padding: 0;
  text-align: bottom;
}
div {
  display: inline-block;
}
input, button {
  display: inline block;
  padding: 15px 15px;
}
